framework:
    messenger:
        failure_transport: failed

        transports:
            # https://symfony.com/doc/current/messenger.html#transport-configuration
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    use_notify: true
                    check_delayed_interval: 60000
                retry_strategy:
                    max_retries: 3
                    multiplier: 2
            failed: 'doctrine://default?queue_name=failed'
            # sync: 'sync://'

        default_bus: command.bus

        buses:
            command.bus:
                middleware:
                    - App\Middleware\ValidationMiddleware
                    - App\Middleware\LoggingMiddleware
                    - doctrine_transaction
            
            query.bus:
                middleware:
                    - App\Middleware\LoggingMiddleware

        routing:
            Symfony\Component\Mailer\Messenger\SendEmailMessage: async
            Symfony\Component\Notifier\Message\ChatMessage: async
            Symfony\Component\Notifier\Message\SmsMessage: async

            # Route commands and queries to appropriate buses
            # Commands are synchronous by default (handled immediately)
            # Queries are always synchronous
            'App\Message\Command\*': command.bus
            'App\Message\Query\*': query.bus
